.ty-banner{
  height: 596px;
  background-image: url(../img/support/tiyan.jpg);
  background-position: center;
  overflow: hidden;
}
.ty-header{
  width: 100%;
}
.ty-header h3{
  width: 1110px;
  height: 60px;
  padding: 20px 0px 10px 30px;
  font-size: 22px;
  font-weight: 400;
  line-height: 80px;
  margin: 0 auto;
}
.ty-header h3 a{
  font-size: 11px;
  color: rgb(8, 156, 239);
  text-decoration: underline;
}
.ty-box{
  width: 1140px;
  padding: 15px 30px 20px 30px;
  background: #fff;
  margin: 0 auto;
  margin-bottom: 50px;
}
.ty-table{
  width: 100%;
  border-collapse:collapse;
  margin: 0 auto;

}
.ty-table>tbody>tr th{
  height: 20px;
  padding: 8px;
  background: rgb(66, 66, 66);
  border: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.ty-table>tbody>tr td{
  border: 1px solid #dddddd;
  font-size: 13px;
  height: 20px;
  padding: 8px 8px;
  line-height:20px;
}






/*  */
